<ons-toolbar>
    <div class="center">Photo Report</div>
</ons-toolbar>
<div class="background"></div>
<div class="content normal-page">
    <div class="add-photo" (click)="inputClick()">
        <input
            class="hiddenInput"
            #input
            type="file"
            accept="image/x-png,image/jpeg,image/gif;capture=camera"
            (change)="upload()"
        />
        <ons-icon class="add-photo-icon" icon="fa-camera"></ons-icon>
        <span class="add-photo-label">Add Photo</span>
    </div>
    <div #container class="image-container"></div>
</div>
