@import '../../../assets/styles/colors';

.add-photo {
    align-items: center;
    border: 1px solid $black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: auto;
    width: 100px;

    ::ng-deep .add-photo-icon {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .hidden-input {
        height: 0;
        visibility: hidden;
        width: 0;
    }
}
