NODE_ENV=development
#Add Local path to project
PROJECT_ROOT=/home/user/cqrs/apps/partners-service
# logger
APPLICATION_NAME=cqrs-nest-app-partners-service
LOG_LEVEL=info
#Event Store DB
EVENTSTORE_DB_URL=localhost:2113
