NODE_ENV=development
PORT=3333
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=360000
API_PUBLIC_URL=http://localhost:3333
# Postgres environment variables
# Check Dockerfile/docker-compose.yml for Postgres details
# or setup your local Postgress DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5454
POSTGRES_USERNAME=root
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=smplct_view_app
# AWS configurations
## AWS S3
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=
# !IMPORTANT - Add Local path to project
PROJECT_ROOT=/home/user/smplct_view/apps/backend
# logger
APPLICATION_NAME=smplct_view_backend
LOG_LEVEL=info
#Event Store DB
EVENTSTORE_DB_URL=localhost:2113
