<div #card class="card-wrapper" [class.move]="edit">
    <ons-card class="full-width">
        <div class="header">
            <div class="associate">SIS LIGHT</div>
            <div class="stats">
                <div class="status">bearbeitet</div>
                <div class="date">15.Now.2020</div>
                <ons-icon
                    icon="fa-chevron-right"
                    class="action"
                    (click)="edit = !edit"
                ></ons-icon>
            </div>
        </div>
        <div class="content">
            <div class="client-id">19241</div>
            <div class="client-name">
                Peek & Cloppenburg Retail Buying GmbH some long long text
            </div>
            <div class="client-address">Berlin, Marzahner Promenade 1</div>
        </div>
    </ons-card>
    <ons-button icon="fa-pen" class="button-gray"
        ><span class="button-text">Edit</span></ons-button
    >
    <ons-button icon="fa-exchange-alt" class="button-gray"
        ><span class="button-text">Sync</span></ons-button
    >
</div>
