NODE_ENV=development
# Postgres environment variables
# Check Dockerfile/docker-compose.yml for Postgres details
# or setup your local Postgres DB
POSTGRES_HOST=localhost
POSTGRES_PORT=5454
POSTGRES_USERNAME=root
POSTGRES_PASSWORD=root
POSTGRES_DATABASE=smplct_view_app
# !IMPORTANT - Add Local path to project
PROJECT_ROOT=/home/user/smplct_view/apps/users_service
# logger
APPLICATION_NAME=smplct_view_users_service
LOG_LEVEL=info
#Event Store DB
EVENTSTORE_DB_URL=localhost:2113
