$white: #fff;
$orange: #ed6b2a;

$gray-1: #e6e6e6;
$gray-2: #f2f2f2;
$gray-3: #d9d9d9;
$gray-4: #ccc;
$gray-5: #b3b3b3;
$gray-6: #8c8c8c;
$gray-7: #666;
$gray-8: #404040;
$gray-9: #1a1a1a;
$gray-10: #191919;
$gray-11: #131415;

$black: #000;
$black-1: #000;
