.content {
    padding: 8px;

    .image-container {
        display: grid;
        gap: 8px;
        grid-auto-rows: 33vw;
        grid-template-columns: 1fr 1fr;

        .image {
            height: 100%;
            object-fit: contain;
            object-position: center;
            width: 100%;
        }
    }
}
