@import '../../../assets/styles/colors';

.form-field-container {
    display: inline-block;
    margin-bottom: 1.25rem;
    position: relative;

    .error-message {
        color: $red-1;
        font-size: 75%;
        left: 0;
        min-height: 1rem;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-align: left;
        width: 100%;
    }
}
