/* You can add global styles to this file, and also import other style files */
@import './assets/styles/common';

// Handling Overscroll in a Web App
// with Header and Footer on iOS
html,
body {
    overflow: hidden;
    position: fixed;

    > .app-wrapper {
        height: 100vh;
        -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
        overflow-y: scroll;
        width: 100vw;
    }
}

// Add safe area to the bottom for IPhoneX+ for gesture bar
@media (orientation: portrait) {
    html[onsflag-iphonex-portrait-custom] .tabbar:not(.tabbar--top):not(.tabbar--top) {
        padding-bottom: 34px;
    }
}

@media (orientation: landscape) {
    html[onsflag-iphonex-landscape-custom] .tabbar:not(.tabbar--top) {
        padding-bottom: 21px;
    }
}
