<ons-page>
    <form [formGroup]="loginForm" class="form">
        <smplct-view-form-field
            onsType="input"
            type="text"
            placeholder="Username"
            [formControl]="user"
            [required]="true"
        ></smplct-view-form-field>

        <smplct-view-form-field
            id="password"
            onsType="input"
            placeholder="Password"
            type="password"
            [formControl]="password"
            [required]="true"
        >
        </smplct-view-form-field>

        <ons-button
            [disabled]="loginForm.pristine || loginForm.invalid"
            class="submit-btn"
            (click)="login()"
            >Sign in</ons-button
        >
    </form>
</ons-page>
