@import '../../../assets/styles/colors';

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    text-align: center;

    .submit-btn {
        margin-top: 1rem;
    }
}
