<ons-page>
    <div [formGroup]="loginForm" style="text-align: center; margin-top: 200px">
        <p>
            <ons-input
                id="username"
                placeholder="Username"
                modifier="underbar"
                formControlName="user"
            ></ons-input>
        </p>

        <p>
            <ons-input
                id="password"
                placeholder="Password"
                type="password"
                modifier="underbar"
                formControlName="password"
            >
            </ons-input>
        </p>

        <div
            class="error-message"
            *ngIf="loginForm?.invalid && (loginForm?.touched || loginForm?.dirty)"
        >
            <span *ngIf="user?.errors?.required">User name is required<br /></span>
            <span *ngIf="password?.errors?.required">Password is required</span>
        </div>

        <p>
            <ons-button (click)="login()">Sign in</ons-button>
        </p>
    </div>
</ons-page>
